@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,500&family=Redressed&family=Roboto+Mono:wght@100;300;400;500&family=Shizuru&display=swap");
.filter {
  padding: 3rem;
  background-color: #faf7f4;
}

.navbar1 {
  background-color: #cabaa6;
}

.home {
  min-height: 80vh;
}

.home .homerow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.login {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login form {
  border: 1px solid green;
  padding: 3rem;
  background-color: #413e3e;
  color: white !important;
  border-radius: 5px;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
}

.register .card {
  background-color: #413e3e;
  color: white;
  width: 36rem;
  padding: 2rem;
  margin-top: 2rem;
}

.about {
  margin-top: 2rem;
  background-color: #f0e9e9;
}

.about p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #2c2a2a;
  font-weight: 600;
}

.about .card {
  margin-top: 1rem;
  overflow: hidden;
}

.about .card img {
  -webkit-transition: .3s;
  transition: .3s;
}

.about .card img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.about h1, .about h2 {
  font-family: 'Nunito', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: .5rem 0;
  display: block;
  border-radius: 10px;
}

.about .chief {
  text-align: center;
  padding: .7rem;
  margin: 2rem 0;
  background-color: antiquewhite;
  border: 1px solid #e49012;
  border-radius: 15px;
}

.about .img {
  overflow: hidden;
}

.about .img img {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.about .img img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 93vh;
  font-family: 'Nunito', sans-serif;
}

.contact h2 {
  font-weight: 600;
  border: 1px solid #a7a1a1;
  padding: .5rem 0;
  background-color: #dfc8f5;
}

.contact p {
  font-weight: 800;
  font-size: 20px;
  background-color: #f5f2f8;
}

.contact .img {
  overflow: hidden;
}

.contact .img img {
  -webkit-transition: 1s;
  transition: 1s;
}

.contact .img img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
/*# sourceMappingURL=App.css.map */